rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Spezifischer Schutz für die Rezept-Sammlung
    match /recipes/{recipeId} {
      // Nur der Besitzer darf lesen, ändern oder löschen
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      
      // Nur eingeloggte Nutzer dürfen erstellen und müssen ihre eigene ID setzen
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    
  }
}